main {
    display: flex;
     margin: 50px 25px 30px 250px;
}

div {
    display: block;
    border: 1px solid burlywood;
    padding: 50px;
}
.work_info {
    padding-top: 100px;
}

#first_border {
    margin-bottom: 50px;
}

li {
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.spaced_ul {
    margin-bottom: 100px;
    margin-top: 30px;
}
.space_li {
    margin-bottom: 50px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight: bolder;
}
.personal_info {
    background-color: rgb(245, 241, 236);
}
h2 {
    font-weight: bolder;
    font-size: 17px;
}

a {
    color: rgba(0, 0, 255, 0.726);
}
a:link {
    text-decoration: none;
}

a:hover {
    color:blue ;
    font-weight: bolder;
}
a:active {
 color: red;   
}

#last_paragraph {
    margin-top: 38px;
    font-size: 20px;
    color: rgba(65, 4, 4, 0.911);
}